body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% auto;
  width: 300px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

h2 {
  text-align: center;
  text-transform: capitalize;
}

label {
  display: inline-block;
  width: 100px;
}

.input {
  margin: auto;
  width: 300px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

button {
  margin-bottom: 1.5em;
}
