body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 25px;
  margin-top: 35px;
}

.fa,
.fas {
  font-size: smaller;
  margin-left: 9px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center;
  text-align: right;
}

.product-list {
  color: green;
  font-size: 14px;
}

.product-price {
  padding-left: 20px;
  font-weight: 400;
  color: black;
}

.product-input {
  margin-left: 20px;
  width: 35px;
}

.details-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  width: 100%;
}

.btn {
  background-color: green;
  color: white;
  border: none;
  border-radius: 10px;
  margin: auto;
  width: 30%;
  height: 4vh;
  margin-bottom: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(40, 161, 40);
}

.btn:disabled {
  background-color: #cccccc;
  color: #535353;
}

.bill-container span {
  margin-left: 10px;
  font-size: smaller;
  line-height: 30px;
}
