.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roomType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

select,
input,
.input-parking {
  width: 100%;
  margin: auto;
  cursor: pointer;
}

.input-nights {
  width: 100%;
  margin-right: 67px;
}

div {
  margin-top: 20px;
}

.spa {
  width: auto;
}

button {
  margin-top: 20px;
}
