.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.roomType {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.input-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
select,
input,
.input-nigths,
.input-parking {
  width: 100%;
  margin: auto;
  cursor: pointer;
}

/* .spa {
  margin-right: 20px;
  width: 100%;
} */

div {
  margin-top: 20px;
}
